<?php require '../Control/requestDetails.php'; ?>

<h5>Request Details</h5>
<div class="grid-container" style="display: grid; grid-template-columns: auto auto; padding: 10px; grid-gap: 5px;">
    <div class="grid-item"><b>Title</b><br><?php echo $title; ?></div>
    <div class="grid-item"><b>User</b><br><?php echo $userNameEmail; ?></div>
    <div class="grid-item"><b>Time made</b><br><?php echo $timeCreated; ?></div>
    <div class="grid-item"><b>Assigned To</b><br><?php echo $tutorNameEmail; ?></div>
    <div class="grid-item"><b>Status</b><br><?php echo $status; ?></div>
    <div class="grid-item"><b>Reason</b><br><?php echo $reason; ?></div>
    <div class="grid-item"><b>Details</b><br><?php echo $description; ?></div>
    <div class="grid-item"><b>Image</b><br><img class="mediumImg" src="<?php echo $imageLink; ?>"></div>
</div>

<?php echo $requestDetailsCloseForm;?>

<?php echo $requestDetailsFollowupForm;?>

<h5>Request History</h5>
<table class="u-full-width">
    <thead><tr><th>User and Date</th><th>Details</th></tr></thead>
    <tbody>
        <?php echo $followupRows; ?>
    </tbody>
</table>
<?php echo $smarty->display('footer.tpl'); ?>

<script src="https://code.jquery.com/jquery-3.3.1.js" type="text/javascript"></script>
<script>
    $("#followupForm").submit(function(event) { //follow up submit, ajax post used so page does not refresh on failing to submit.
        var request;
        event.preventDefault(); //Prevent regular form submit
        if (request) {request.abort();}

        var $fields = $(this).find("input, button, textarea"); // Disable editable fields when submitting
        $fields.prop("disabled", true);

        var formData = new FormData (); //Get data and make post, formdata used for image file
        formData.append("comment" , String(document.getElementById('comment').value)); //Text
        formData.append("imageFile" , document.getElementById('imgInp').files[0]); //Image file
        formData.append("ID" , '<?php echo $id; ?>'); //ID for linking image to request
        request = $.ajax({url: "/requestDetailsFunctions", type: "post", processData: false, contentType: false, data: formData});

        request.done(function (response){ // success handler
            if (response === '"submitted"') {location.reload();}
            else {alert(response);}
        });
        request.fail(function (textStatus, errorThrown){console.error("Error: "+ textStatus, errorThrown);}); // Failure handler
        request.always(function () {$fields.prop("disabled", false);}); //Re enable fields
    });

    function tutorChange() {
        var request;
        if (request) {request.abort();}
        document.getElementById('tutorSelect').disabled = true;
        var tutorSelect = document.getElementById('tutorSelect').options[document.getElementById('tutorSelect').selectedIndex].value;

        request = $.ajax({url: "/requestDetailsFunctions", type: "post", data: {tutorSelect: tutorSelect, ID: '<?php echo $id; ?>'}});
        request.done(function (response){ // success handler
            if (response === '"submitted"') {location.reload();}
            else {alert(response);}
        });
        request.fail(function (textStatus, errorThrown){console.error("Error: "+ textStatus, errorThrown);}); // Failure handler
        request.always(function () {document.getElementById('tutorSelect').disabled = false;}); //Re enable fields
    }

    $("#closeRequest").submit(function(event) {
        event.preventDefault(); //Prevent regular form submit
        var request;
        if (request) {request.abort();}
        var $fields = $(this).find("select, button, textarea"); // Disable editable fields when submitting
        $fields.prop("disabled", true);

        var formData = new FormData (); //Get data and make post
        formData.append("closeText" , String(document.getElementById('closeText').value)); //Text
        formData.append("ID" , '<?php echo $id; ?>'); //ID
        if (document.getElementById('closeReasonSelect')) {
            formData.append("closeSelect" , document.getElementById('closeReasonSelect').options[document.getElementById('closeReasonSelect').selectedIndex].value); //select
        }

        request = $.ajax({url: "/requestDetailsFunctions", type: "post", processData: false, contentType: false, data: formData});
        request.done(function (response){ // success handler
            if (response === '"submitted"') {location.reload();}
            else {alert(response);}
        });
        request.fail(function (textStatus, errorThrown){console.error("Error: "+ textStatus, errorThrown);}); // Failure handler
        request.always(function () {$fields.prop("disabled", false);}); //Re enable fields
    });
</script>
<script src ="/static/textAreaGrow.js" type="text/javascript"></script>
<script src ="/static/imagePreview.js" type="text/javascript"></script>